<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blog</title>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>	
	<link rel="stylesheet" href="blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap" rel="stylesheet">
    
	<script>
    </script>


</head>

<body>
  <h1>[[${user}]]的博客</h1>
  <div class="cards">
    <div class="cards_item">
      <article>
        <a href="https://www.ctrip.com/"><h2>旅行</h2></a>
        <a href="https://www.ctrip.com/"><h3>夏季</h3></a>
       
		<a href="https://www.viagogo.com/ww/Concert-Tickets/Rock-and-Pop/Mayday-Tickets?AffiliateID=49&adposition=&PCID=PSROWGOOMAYDA39F6FF06991D&AdID=654863107888&MetroRegionID=&psc=%2c&ps=%2c&ps_p=0&ps_c=12774923160&ps_ag=121460208615&ps_tg=kwd-301577713&ps_ad=654863107888&ps_adp=%2c&ps_fi=%2c&ps_li=%2c&ps_lp=9053313&ps_n=g&ps_d=c&gad=1&gclid=Cj0KCQjwu-KiBhCsARIsAPztUF2VdMKSzEykA4usavBYyNOKLjTk-KSJdZw11RiVVr6l0xbwgw1Y2AIaAmaBEALw_wcB"> <p>五月天演唱会</p></a>
      </article>
    </div>
    <div class="cards_item">
      <article>
       <a href=" http://www.nlc.cn/web/index.shtml"><h2>读书</h2></a>
       <a href="https://mp.weixin.qq.com/s?__biz=MzA4NjE2MTA4MQ==&mid=2650642195&idx=1&sn=454feed73a04ccf0b0b819841474730a&chksm=87c5d4c5b0b25dd31bfd30496544c06b114bfc66cc174849d5265ebd2b8914867f4479b8feae&scene=27"><h3>三月</h3></a>
       
		<a href="http://dzj.hubei.gov.cn/bd/dzwy/dzwy/202011/t20201123_3044786.shtml"><p>读钢铁是怎样炼成的有感</p></a>
      </article>
    </div>
	<div class="cards_item">
	  <article>
	<a href="https://blog.163.com/">新建</a>
	  </article>
	</div>
  </div>
</body>

</html>
